@font-face {
    font-family: "Red Hat Display";
    src: url(Assets/fonts/RedHatDisplay-Regular.ttf);
}

@font-face {
    font-family: "Red Hat Display-Bold";
    src: url(Assets/fonts/RedHatDisplay-Bold.ttf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(225, 100%, 94%);
    background-image: url(images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
}

.container{
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 2rem auto;
    width: 30%;
    border-radius: 5%;
}

.logo{
    object-fit: cover;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}

.container > h2{
    text-align: center;
    margin-top: 2rem;
    color: hsl(223, 47%, 23%);
    font-family: "Red Hat Display-Bold";
}

.para-1{
    margin: 0 auto;
    width: 80%;
    font-family: 'Red Hat Display';
    color: hsl(223, 47%, 23%);
    text-align: center;
    padding: 1rem;
}

.payment-box{
    display: flex;
    background-color: hsl(225, 100%, 98%);
    width: 80%;
    margin-top: 1rem;
    margin-left: auto;
    margin-bottom: 1rem;
    margin-right: auto;
    border: none;
    border-radius: 5%;
}

.music-icon{
    width: 17%;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.para-2{
    align-self: center;
    margin-top: -2rem;
    margin-left: 1rem;
    font-family: 'Red Hat Display-Bold';
    color: hsl(223, 47%, 23%);
}

.para-3{
    align-self: flex-end;
    margin-bottom: 1rem;
    margin-left: -5.6rem;
    font-family: 'Red Hat Display';
    color: hsl(223, 47%, 23%);
}

.change-link{
    align-self: center;
    margin-left: 4rem;
    font-family: 'Red Hat Display-Bold';
    font-size: 14px;
    color: hsl(245, 75%, 52%);
}

.change-link a:hover{
    text-decoration: none;
    color: hsl(223, 47%, 23%);
}

.btn-1{
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    width: 80%;
    border: none;
    border-radius: 5%;
    background-color: hsl(245, 75%, 52%);
    padding: 1rem;
    border: none;
    color: hsl(225, 100%, 94%);
    font-family: 'Red Hat Display-Bold';
    box-shadow: 10px 15px 8px hsl(225, 100%, 94%);
}

.btn-1:hover{
    cursor: pointer;
    background-color: hsl(224, 23%, 55%);
}

.para-4{
    font-family: 'Red Hat Display-Bold';
    color: hsl(224, 23%, 55%);
    margin-top: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}

.para-4:hover{
    cursor: pointer;
    color: hsl(245, 75%, 52%);
}

@media screen and (max-width: 74em) {
    .para-1{
        width: 100%;
    }

    .change-link{
        margin-left: 2rem;
    }
}


@media screen and (max-width: 64em) {
    .container{
        width: 40%;
    }

    .para-1{
        width: 100%;
    }

    .change-link{
        margin-left: 4rem;
    }
}

@media screen and (max-width: 55em) {


    .container{
        width: 40%;
    }

    .para-1{
        width: 100%;
    }

    .change-link{
        margin-left: 2rem;
    }

}

@media screen and (max-width: 47.5em) {

    .container{
        width: 50%;
    }

    .para-1{
        width: 100%;
    }

    
}

@media screen and (max-width: 40em) {
    .container{
        width: 60%;
    }
    
    .para-1{
        width: 100%;
    }
}

@media screen and (max-width: 34em) {
    .container{
        width: 70%;
    }

    .para-1{
        width: 100%;
    }
}

@media screen and (max-width: 28em) {
    body{
        background-image: url(images/pattern-background-mobile.svg);
        background-repeat: no-repeat;
    }

    .container{
        width: 80%;
    }

    .para-1{
        width: 100%;
    }
}

@media screen and (max-width: 24em) {
    .container{
        width: 90%;
    }

    .para-1{
        width: 100%;
    }
}

@media screen and (max-width: 21em) {
    .container{
        width: 90%;
    }

    .para-1{
        width: 97%;
    }

    .payment-box{
        width: 90%;
    }
}

